@media (min-width: 769px) {
  .product-title {
    display: none;
  }
  .product {
    box-shadow: none;
  }
  /*.nav-bar{
        display: flex;
    } 
    .burger-menu{
        display: none;
    } 
    .product{
      width: 25%;
    }  
    .header-icono-barra{
      justify-content: space-between;
    }*/
}
