/* aca solo ponemos tipografia colores*/
/* quitamos margenes y espaciados*/
*{
    box-sizing: border-box;
}
h1{
    margin:0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.font-yellow{
    color:#EAC926;
}
.bg-yellow{
    background-color: #EAC926;
}
.font-blue{
    color:#03264C;
}
.bg-blue{
    background-color:#03264C;
}
.font-light-blue{
    color:#1259c3;
}
.bg-light-blue{
    background-color:#1259c3;
}
.font-dark-gray{
    color:#666;
}
.bg-dark-gray{
    background-color:#666;
}
.font-gray{
    color:#ebebeb;
}
.bg-gray{
    background-color:#ebebeb;
}
.font-green{
    color:#39b54a;
}
.bg-green{
    background-color:#39b54a;
}

.font-heading{
    font-size: 24px;
}
.font-large{
    font-size: 18px;
}
.font-small{
    font-size: 16px;
}
.nav-section{
    margin:0;
    padding: 0;
}
/* .nav-bar > ul > li > a*/
.nav-bar ul li a{
    text-decoration: none;  
    color: black;     
}
.nav-bar ul li{
    list-style: none;
    margin: 0px;
    padding: 0px; 
}
.nav-bar ul{
    padding: 0px; 
}
.bar-icon{
   text-align: center;
}
h3{
    text-align: center 
}
.burger-menu{
    text-align: center;
}
.icon-size{
    font-size: 25px; 
    padding: 1%;
    border-radius: 15%;
}
.header-padding{
    padding-bottom: 3%;
}
/* para la seccion del footer*/
.footer-align{
    text-align: center;
    margin: 0%;
    padding: 0%;
    padding-top: 10%;
}
.footer-align section{
    margin-bottom: 8%;
}
.footer-align section footer{
    margin-top: 1%;
}
.icon-footer{
    font-size: 200%;    
}
h5{
    margin: 0;
    padding: 0;
    padding-top: 2%;
}
